.selected {
  border-bottom: 2px solid orange;
  width: 50vw;
}
.not-selected {
  color: black;
}
.cat-button {
  background-color: transparent;
  border: none;
  color: black;
  width: 50vw;
}
@media (min-width: 760px) {
  .selected {
    border-bottom: 2px solid orange;
    width: 15vw;
  }
  .not-selected {
    color: black;
  }
  .cat-button {
    background-color: transparent;
    border: none;
    width: 15vw;
    color: black;
  }
}
#li {
  list-style-type: none;
}
